body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#bg-gradient {
    height: 100vmax;
    width: 100vmax;
    position: fixed;
    top: 0px;
    left: 0px;
    background: radial-gradient(circle at 10% 90%,
            #00fff2 0%,
            #076453 45%,
            #061b2c 90%
        );

    opacity: 0;
    z-index: -1;
    animation: 2s ease-in bg-opacity forwards;
    animation-delay: 1.5s;
}

a, a:visited {
    color: rgb(68, 149, 255);
}

main {
    text-align: center;
}

@keyframes bg-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}